.sr-av {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.BFAFP-ContainerBA {
    position: relative;
    margin: 0 auto;
}

.BFAFP-CustomBtn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 42px;
    width: 42px;
}

.BFAFP-CustomBtn img {
    width: 100%;
    width: 100%;
}

.BFAFP-Overlay img{
    max-width: none !important;
}

.BFAFP-TitleAfter, .BFAFP-TitleAfterV, .BFAFP-TitleBefore, .BFAFP-TitleBeforeV  {
    position: absolute;
    background-color: black;
    color: white;
    border: 1px solid #333;
    width: 150px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    border-radius: 4px;
    padding: 5px 5px;
}

.BFAFP-TitleAfter {
    left: 10px;
    bottom: 10px;
}
.BFAFP-TitleBefore {
    right: 10px;
    bottom: 10px;
}

.BFAFP-TitleAfterV {
    left: 10px;
    top: 10px;
}

.BFAFP-TitleBeforeV {
    left: 10px;
    bottom: 10px;
}

.BFAFP-ImageBefore {
    display: block;
    background-color: #fff;
}

.BFAFP-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    transition: width 0.1s ease-out;
}

/* Horizontal (por defecto) */
.BFAFP-ContainerBA:not([data-orientation="vertical"]) .BFAFP-Overlay {
    width: 50%;
    height: 100%;
}

/* Vertical */
.BFAFP-ContainerBA[data-orientation="vertical"] .BFAFP-Overlay {
    width: 100%;
    height: 50%;
}

.BFAFP-Overlay img {
    display: block;
    background-color: #fff;
}



.BFAFP-MainContainer {
    margin: 1em auto;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    min-height: 100px;
}

.BFAFP-MainContainer * {
    box-sizing: border-box;
}

.BFAFP-MainContainer p {
    margin: 0 !important;
    padding: 0 !important;
}

.BFAFP-instructions {
    margin: 0.3em auto;
    width: 100%;
    overflow: auto;
}

.BFAFP-GameMinimize {
    margin: 1em auto;
    width: 100%;
}

.BFAFP-LinkMaximize {
    align-items: center;
    display: flex;
    justify-content: center;
}

.BFAFP-IconMinimize {
    height: 2em;
    margin-right: 0.5em;
    width: 2em;
}

.BFAFP-GameContainer {
    margin: 0 auto;
    padding: 2em 0.3em 0 0.3em;
    position: relative;
    max-width: 1650px;
    width: 100%;
    height: auto;
    overflow: visible;
}

.BFAFP-Image {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: contain;
    display: block;
}

.BFAFP-EText {
    border: none;
    width: 70%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.BFAFP-Multimedia {
    background-color: transparent;
    width: 100%;
    max-width: 800px;
    margin: 1em auto;
    aspect-ratio: 16 / 9;
}

.BFAFP-ButtonsBar {
    width: 100%;
    max-width: 900px;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BFAFP-NumberInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.BFAFP-Author {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    z-index: 4;
    display: block;
    bottom: 1px;
}

.BFAFP-AuthorWord {
    left: 1px;
}

.BFAFP-AuthorDef {
    right: 1px;
}

.BFAFP-Author img {
    width: 100%;
    height: 100%;
}

.BFAFP-Cover {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 1%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    background-color: rgb(255, 255, 255, 0.1)
}

.BFAFP-ClueBotton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6em auto;
}

.BFAFP-Information,
.BFAFP-Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BFAFP-Buttons {
    gap: 10px;
    display: none;
}

.BFAFP-Information a,
.BFAFP-Buttons a {
    font-size: 1.1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.BFAFP-Message {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    min-height: 1.5em;
    display: none;
}

.BFAFP-AuthorGame {
    margin: 0.5em auto;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    display: none;
}

.BFAFP-CodeAccessDiv {
    background-color: white;
    width: 50%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 0.6em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5em;
    margin-top: 1em;
}

.BFAFP-MessageCodeAccessE {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 0.5em;
}

.BFAFP-DataCodeAccessE {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.7em auto 0 auto;
    width: 100%;
}

.BFAFP-CodeAccessE {
    margin: 0 .3em;
    width: 100%;
    text-align: center;
    max-width: 350px;
}

.BFAFP-MainContainer .exeQuextIcons-Submit {
    height: 1.7em;
    width: 1.7em;
}

.BFAFP-DivInstructions {
    margin: 1em 0 0 0;
    text-align: center;
    width: 95%;
}

.BFAFP-FullLinkImage .exeQuextIcons {
    margin: 0;
    width: 18px;
    height: 18px;
}

.beforeafter-extra-content {
    margin-top: 1.7em;
}



.BFAFP-Activo {
    cursor: pointer;
    -webkit-transition: transform 0.3s, -webkit-filter 0.3s;
    transition: transform 0.3s, filter 0.3s;
    -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}


.BFAFP-Activo:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.Games-FullScreenImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.noselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.BFAFP-MainContainer .exeQuextIcons {
    background-size: 100% 100%;
    height: 1.4em;
    margin-right: 0.3em;
    width: 1.4em;
}

.BFAFP-GameContainer:-webkit-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
}

.BFAFP-GameContainer:-moz-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.BFAFP-GameContainer:-ms-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.BFAFP-GameContainer:-o-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.BFAFP-GameContainer:fullscreen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.BFAFP-Cover .exeQuextIcons-Submit {
    height: 1.7em;
    width: 1.7em;
}
.BFAFP-MainContainer .exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.BFAFP-GameContainer .exeQuextIcons-FullScreen {
    background-image: url(exequextfull.svg);
    background-size: 100% 100%;
}

div:fullscreen .exeQuextIcons-FullScreen {
    background-image: url(exequextfull.svg);
    background-size: 100% 100%;
}

div:fullscreen .BFAFP-Multimedia {
    width: 100%;
    max-width: 1200px;
}

div:fullscreen .BFAFP-Message {
    font-weight: 1.1em;
}

.BFAFP-GameContainer:-webkit-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0.6em 0.6em 1em 0.6em;
    overflow-y: auto;
}

.BFAFP-GameContainer:-moz-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0.6em 0.6em 1em 0.6em;
    overflow-y: auto;
    padding-top: 0;
}

.BFAFP-GameContainer:-ms-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0.6em 0.6em 1em 0.6em;
    overflow-y: auto;
    padding-top: 0;
}

.BFAFP-GameContainer:fullscreen {
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0.6em 0.6em 1em 0.6em;
    overflow-y: auto;
    padding-top: 0;
}

.BFAFP-Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    width: 100%;
}

.BFAFP-ContainerGame {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
    height: auto;
    position: relative;
    background-color: transparent;
}

.BFAFP-LinkFullScreen {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 4;
}

.BFAFP-Slider {
    position: absolute;
    z-index: 3;
    transition: all 0.1s ease-out;
    opacity: 0.1;
    
}


.BFAFP-ContainerBA:not([data-orientation="vertical"]) .BFAFP-Slider {
    top: 0;
    left: calc(50% - 12px);
    width: 24px;
    height: 100%;
    cursor: ew-resize;
}


.BFAFP-ContainerBA:not([data-orientation="vertical"]) .BFAFP-Overlay {
    width: 50%;
    height: 100%;
}

.BFAFP-ContainerBA[data-orientation="vertical"] {
    display: block;
}

.BFAFP-ContainerBA[data-orientation="vertical"] .BFAFP-Slider {
    left: 0;
    top: calc(50% - 12px);
    width: 100%;
    height: 24px;
    cursor: ns-resize;
}


.BFAFP-ContainerBA[data-orientation="vertical"] .BFAFP-Overlay {
    width: 100%;
    height: 50%;
}


@media screen and (max-width:650px) {
    .BFAFP-LinkFullScreen {
        display: none;
    }

    .BFAFP-ContainerGame {
        gap: 80px;
        font-size: 0.9em;
    }

    .BFAFP-MainContainer {
        font-size: 0.9rem;
    }

    .BFAFP-LinkMinimize {
        display: none;
    }

    .BFAFP-DataCodeAccessE label {
        display: none;
    }

    .BFAFP-GameContainer .exeQuextIcons-Submit {
        height: 2em;
        width: 2em;
    }

 

    .BFAFP-CodeAccessDiv,
    .BFAFP-ShowClue {
        width: 90%;
    }

    div:fullscreen .BFAFP-Message {
        font-size: 1em;
    }

    .BFAFP-ContainerGame {
        gap: 80px;
        font-size: 0.9rem;
    }

    .BFAFP-Information a,
    .BFAFP-Information p,
    .BFAFP-Buttons a {
        font-size: 1em;
    }

    .BFAFP-Message {
        min-height: 1.3em;
    }

}


@media screen and (max-width:425px) {

    .BFAFP-MainContainer {
        font-size: 0.8rem;
    }

    .BFAFP-instructions p {
        margin: 0 auto;
    }

    .BFAFP-Message {
        min-height: 1em;
    }

    .BFAFP-ContainerGame {
        gap: 70px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:375px) {
    .BFAFP-MainContainer {
        font-size: 0.7rem;
    }

    .BFAFP-ContainerGame {
        gap: 50px;
        font-size: 0.7rem;
    }

}